
dist
.solid
.output
.vercel
.netlify
netlify

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db

*.jl.cov
*.jl.*.cov
*.jl.mem
precompile.jl
build
Manifest.toml

# editor-specific
.vscode